.sidenav {
    padding: 2px;
    // border: 2px solid blue;
    // background-color: dodgerblue;
    width: 50%;
    background: inherit;
}

.sidenav-container {
    height: 100%;
}

.logo {
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 75%;
        background: inherit;
    }

    .toolbar {
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        justify-content: space-between;
        position: fixed;
    }
}



.toolbar {
    display: flex;

    width: 99%;
    height: 8%;
    padding: 1%;
    margin: 0.5%;
    box-shadow: 0 0 3px 2px rgba(50, 50, 50, 0.7);
    //background-color: rgba(102, 102, 255, 0.5);
    //background-color: primary;
    border-radius: 5px;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}