<main class="card">
  <section class="face">
    <img src="assets/face.png" alt="penguin" />
    <mat-divider style="width: 70%; margin: auto;"></mat-divider>
    <h2>Dr. Developer</h2>
  </section>
  <div class="links">
    <a mat-raised-button color="primary" href="https://twitter.com/SailendraDarbha">
      <ng-icon name="bootstrapTwitter" />
      Twitter</a
    >
    <a
      mat-raised-button
      color="accent"
      href="https://github.com/SailendraDarbha94"
    >
      <ng-icon name="bootstrapGithub" />
      Github</a
    >
    <a
      mat-raised-button
      color="primary"
      href="https://www.linkedin.com/in/sailendra-darbha-97a657288/"
    >
      <ng-icon name="bootstrapLinkedin" />
      LinkedIn</a
    >
  </div>
</main>
