---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
---

<MainLayout
  title="Sailendra Darbha's About"
  seoTitle="About Sailendra Darbha, Front-End Engineer"
  seoDesc=`Hi there! My name is Sailendra Darbha, and I'm a front end engineer with over 5 years of experience in the industry`
>
  <div class="w-10/12 md:w-6/12 mx-auto">
    <!-- <h1 class="text-xl md:text-5xl text-center">About Me</h1> -->
    <!-- <img
      src="/public/images/about.jpg"
      class="m-4 rounded-2xl shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.6)]"
    /> -->
    <img class="m-4 rounded-full shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.6)]" src="/profile.png" alt="Profile" />
    <p class="text-large">
      Hello there! My name is <span class="md:mx-3 md:px-2 md:text-3xl underline">Sailendra Darbha</span>, and I'm a software engineer with a
      little over 2 years of experience in the industry. I'm passionate about
      designing User Interfaces that feel intuitively natural and for bringing
      them to life in a way that solves real-world problems and makes people's
      lives easier.
    </p><br />
    <p>
      My expertise lies in front-end development, with a focus on web
      applications. I'm proficient in a variety of programming languages,
      including JavaScript, Python, SQL, and Typescript, and I'm comfortable working with
      tools and frameworks like React, NextJS, SvelteKit, Astro and Django.
    </p><br />
    <p>
      In addition to my technical skills, I pride myself on my ability to
      collaborate with team members and communicate effectively with
      stakeholders. I'm a naturally intuitive designer and enjoy tackling complex
      interfaces in a simplistic manner and minimalistic way.
    </p><br />
    <p>
      When I'm not coding, you can find me gaming on my XBOX or trying to play my Piano and failing. I'm always looking for new opportunities to work
      on exciting projects, so if you're interested in collaborating or looking to hire me, please
      feel free to get in touch by clicking on LinkedIn below. Thanks for stopping by!
    </p>
  </div>
</MainLayout>
