---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="John Doe's Project"
  seoTitle="Projects with React, Astro"
  seoDesc="Award winning projects/app with Astro, React and NextJS"
>
  <div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl my-2 text-center">Certificates</h1>
    <div
      class="grid md:grid-cols-2 gap-2 drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
    >
      <a href="/certs/FEND">
        <img
          class="rounded"
          src="/images/FEND.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/PHP">
        <img
          class="rounded"
          src="/images/PHP.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/RWDF">
        <img
          class="rounded"
          src="/images/RWDF.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/IDS">
        <img
          class="rounded"
          src="/images/IDS.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/PM">
        <img
          class="rounded"
          src="/images/PM.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/JS">
        <img
          class="rounded"
          src="/images/JS.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/SQL">
        <img
          class="rounded"
          src="/images/SQL.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/ANG">
        <img
          class="rounded"
          src="/images/ANG.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/PWD">
        <img
          class="rounded"
          src="/images/PWD.png"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/certs/PDS">
        <img
          class="rounded"
          src="/images/PDS.png"
          width="300px"
          height="300px"
        />
      </a>
    </div>
  </div>
</MainLayout>
