<main class="main">
  <section class="card-list">
    <article class="card" *ngFor="let cert of certs">
      <header class="card-header">
        <h2  style="text-align: center; width: 100%;" routerLink="/cert">{{ cert.heading }}</h2>
        <div class="cert-holder">
          <img src="assets/{{ cert.cert }}" alt="certificate" class="certificate" />
        </div>
      </header>
      <p style="text-align: center; width: 100%;">{{ cert.date }}</p>
      <mat-divider class="divide"></mat-divider>
      <div class="card-author">
        <a class="author-avatar" href="#">
          <img src="assets/{{ cert.logo }}" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>

        <div class="author-name" >
          <div class="author-name-prefix">Credit</div>
          {{ cert.uni }}
        </div>
      </div>
      <div class="tags">
        <a href="#">html</a>
        <a href="#">css</a>
        <a href="#">web-dev</a>
      </div>
    </article>
  </section>
</main>
