---
---

<footer class="flex items-center justify-center mt-auto py-4">
  <!-- <small
    >Copyright &copy; <span id="copyright"></span> | All rights reserved</small
  > -->
  <a class="px-2" href="https://github.com/SailendraDarbha94">GitHub</a>
  <a class="px-2" href="https://www.linkedin.com/in/sailendra-darbha/">LinkedIn</a>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
