---

import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  return [
    {
      params: { blog: "modern" },
      props: {
        name: "Mc Donalds Sucks Too Much Now",
        content: "boooo mcd, mcd booo, boooo mcd burger booo",
      },
    },
    {
      params: { blog: "bloodbender" },
      props: {
        name: "Reordering My Life",
        content: "It is time to reshape my destiny",
      },
    },
  ];
}

const { blog } = Astro.params;
const { name, content } = Astro.props;
---

<MainLayout>
  <section class="mx-auto w-3/6">
    <img
      src=`/public/${blog}.png`
      width="600"
      height="600"
      class="rounded"
    />
    <h1 class="font-bold mt-4">{name}</h1>
    <p>{content}</p>
    <section></section>
  </section>
</MainLayout>
