---
import { IDS, PDS } from "../../consts";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  return [
    {
      params: { cert: "FEND" },
      props: {
        name: "Front End Nanodegree",
        desc: "The Udacity Front End NanoDegree certification takes roughly about 6 month to complete and teaches all the fundamentals of the Web Development world",
      },
    },
    {
      params: { cert: "PHP" },
      props: {
        name: "PHP Certification",
        desc: "Taught by the Charles 'Chuck' Severance of the Michigan University, Building Web Applications in PHP is a great course for aspiring web developers",
      },
    },
    {
      params: { cert: "RWDF" },
      props: {
        name: "Responsive Web Design Fundamentals",
        desc: "This course is a great course for beginners of the Web Development Area, taught esteemed professors of University of London",
      },
    },
    {
      params: { cert: "IDS" },
      props: {
        name: "Interface Design Specialization",
        desc: IDS,
      },
    },
    {
      params: { cert: "SQL" },
      props: {
        name: "SQL Certification",
        desc: "In this course, I learned the basics of Structured Query Langugae, and about Relational Databases and also about data modeling",
      },
    },
    {
      params: { cert: "JS" },
      props: {
        name: "Javascript certification",
        desc: "This course is a great course for understanding JavaScript in depth and the instructor is also really good, I learned much more about closures, this, hoisting, JIT and so much more",
      },
    },
    {
      params: { cert: "PM" },
      props: {
        name: "Product Management Certification",
        desc: "This course is a great learning opportunity for the people curious about Product Management",
      },
    },
    {
      params: { cert: "ANG" },
      props: {
        name: "Angular JS",
        desc: "This course taught all about AngularJS and how it works under the hood",
      },
    },
    {
      params: { cert: "PDS" },
      props: {
        name: "Python Data Structures",
        desc: PDS,
      },
    },
    {
      params: { cert: "PWD" },
      props: {
        name: "Using Python to Access Web Data",
        desc: "In this course I learned how to scrape web data and process it using Python and Beautiful Soup",
      },
    },
  ];
}

const { cert } = Astro.params;
const { name, desc } = Astro.props;
---

<MainLayout>
  <section class="mx-auto w-3/6">
    <img
      src=`/images/${cert}.png`
      width="600"
      height="600"
      class="rounded"
    />
    <h1 class="font-bold mt-4">{name}</h1>
    <p>{desc}</p>
    <section></section>
  </section>
</MainLayout>
