.container {
    //background-color: red;
    //height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left {
    min-width: 50%;
    width: 50%;
    //background-color: blue;
}

.left p {
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    font-size: larger;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
    display: flex;
    flex-wrap: wrap;
    //overflow-x: scroll;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    //background-color: greenyellow;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .left {
        width: 100%;
    }
    
    .right {
        width: 100%;
    }
}